*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:#EEEEEE;
    text-align: center;
    font-family: 'Lato', sans-serif;
    height: calc(100vh * 3);
    width: 100vw;
    height: 100vh;
}

#header{
    position: fixed;
    background-color: #EEEEEE;
    width: 100vw;
    margin-left: px;
    margin-right: px;
}

#body{
    margin-top: 125px;
}

.nav-link{
    text-decoration: none;
    color: black;
    line-height: 24px;
    font-size: 16px;
}

#nav-links1{
    margin-top: 6px;
}

#email{
    display:block;
    margin: auto;
    height: 23px;
    width: 275px;
}

#submit{
    display: block;
    margin: auto;
    background: #F1C40F;
    font-weight: 900;
    margin-top: 15px;
    height: 30px;
    width: 150px;
    font-size: 16px;
    margin-bottom: 15px;
    border: #F1C40F;
}

#form{
    margin:auto;
    margin: 20px 82px 29px 82px;
}

.features-header{
    margin: 0px auto 0px auto;

}

.features-parag{
    margin: 0px auto 0px auto;
}

.actual-features{
    padding-bottom: 41px;
    padding-top: 41px;
}

#video{
    margin-top: 72px;
    margin-bottom: 56px;
}

.single_pricing{
    border: solid 1px black ;
    margin: 0px auto 11px auto;
    height: 312px;
    width: 300px;
}

.single_pricing_header{
    background: #DDDDDD;
    border-top: solid 1px black;
    height: 49px;
    margin-top: -1px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.price{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight:500;
}

.pricing_buttons{
    margin-bottom: 10px;
    margin-top: 30px;
    background: yellow;
    font-weight: lighter;
    width: 102px;
    height: 40px;
    font-size: 18px;
}

.single-pricing-p{
    display: flex;
    line-height: 29px;
    flex-direction: column;
}

footer{
    text-align: right;
    margin-bottom: 0px;
    background: #DDDDDD;

}

footer>p{
    margin: 0px 20px 0px 20px;
    font-size: 14px;
    padding-bottom: 20px ;
}

.footer-p {
    text-decoration: none;
    color: black;
}

footer>div{
    margin-bottom: 5px;
    margin-right: 30px;
    padding-top: 20px;
    text-decoration: none;
}

#footer-body{
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.fa-fire-flame-curved,.font-awesome-icons, span {
    display: none;
}

@media screen and (min-width: 527px){

    .fa-fire-flame-curved, .fa-truck, .fa-battery-full{
        font-size: 3rem;
        color: orange;
        height: auto;
        width: auto;
    }

    .font-awesome-icons{
        /* To have total control of height, width and some other properties (margins, etc) */
        display: inline-block;
        /* flex box properties of the font awesome icon container */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 125px;
        width: 150px;
        flex: 0 0 113px;

    }

    .actual-features{
        display: flex;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        column-gap: 5px;
    }

    .child2{
        padding-top: 29px;
        padding-bottom: 29px;
        text-align: left;
    }

    .container-fa{
        margin-left: 20px;
    }

}

@media screen and (min-width: 588px){
    #nav-bar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #header-img{
        flex: 0 0 237px;
    }

    #nav-bar-p{
        flex-grow: 0.899999;
        flex-grow: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:637px) {
    #nav-bar-p {
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        column-gap: 2.5%;
    }

    #body {
        margin-top: 81px;
    }
    
    #header{
        height: 75px;
        display: grid;
        width: 100vw;
    }
}

@media screen and (min-width:816px){
    #nav-bar-p {
        column-gap: 10%;
    }

    #pricing{
        display: flex;
        column-gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 0 -5px 40px;
    }

    .single_pricing{
        flex: 1 0 inherit;
        margin: 0 5px;
    }

    #features{
        max-width: 1009px;
        margin: 0 auto;
    }

    .font-awesome-icons{
        padding-left: 82px;
        padding-right: 82px;
    }
}
